<p>Le nouveau mot de passe doit :</p>
<ul>
    <li ng-class="error._length ? 'text-danger' : 'text-success'">
        <i class="fa" ng-class="error._length ? 'fa-times' : 'fa-check'"></i>
        Faire au moins {{minLength}} caractères
    </li>
</ul>
<p>Et contenir au moins :</p>
<ul>
    <li ng-if="error._lowerletters != undefined" ng-class="error._lowerletters ? 'text-danger' : 'text-success'">
        <i class="fa" ng-class="error._lowerletters ? 'fa-times' : 'fa-check'"></i>
        une lettre minuscule
    </li>
    <li ng-if="error._upperletters != undefined" ng-class="error._upperletters ? 'text-danger' : 'text-success'">
        <i class="fa" ng-class="error._upperletters ? 'fa-times' : 'fa-check'"></i>
        une lettre majuscule
    </li>
    <li ng-if="error._numbers != undefined" ng-class="error._numbers ? 'text-danger' : 'text-success'">
        <i class="fa" ng-class="error._numbers ? 'fa-times' : 'fa-check'"></i>
        un chiffre
    </li>
    <li ng-if="error._symbols != undefined" ng-class="error._symbols ? 'text-danger' : 'text-success'">
        <i class="fa" ng-class="error._symbols ? 'fa-times' : 'fa-check'"></i>
        un caractère spécial
    </li>
</ul>