<div>
    <div style="top:100px;" class="nextDossierInfo" ng-if="!mail.isInit">
                <span class="text text-info">
                    {{'Admin.Avance.getting_infos' | translate}}
                </span>
        <span style="position: relative; width: 0px; z-index: 2000000000; right: 140px; top: 100px;" us-spinner="{radius:20, width:8, length: 16}" ></span>
    </div>
    <div class="col-md-12" ng-if="mail.isInit">
        <div class="row">
            <div class="col-md-12">
                <h3>{{'Admin.Avance.Mail.title' | translate}}</h3>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal">
                <div class="col-md-12">

                    <div class="row">
                        <div class="form-group col-md-4">
                            <div>
                                <div class="radio">
                                    <label for="connecteurActivMail">
                                        <input class="unvalidate" id="connecteurActivMail" ng-model="mail.config.enabled" type="radio" value="true" name="connecteurStateMail">{{'Admin.Avance.Mail.enable' | translate}}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label for="connecteurDesactivMail">
                                        <input class="unvalidate" id="connecteurDesactivMail" ng-model="mail.config.enabled" type="radio" value="false" name="connecteurStateMail">{{'Admin.Avance.Mail.disable' | translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="idMail">{{'Admin.Avance.Mail.id' | translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control unvalidate" id="idMail" name="idMail" ng-model="mail.config.username">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="passwordMail">{{'Admin.Avance.Mail.passwd' | translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control unvalidate" id="passwordMail" name="passwordMail" ng-model="mail.config.password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="serverMail">{{'Admin.Avance.Mail.msg_server' | translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control unvalidate" id="serverMail" name="serverMail" ng-model="mail.config.server">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="portMail">{{'Admin.Avance.Mail.server_port' | translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control unvalidate" id="portMail" name="portMail" ng-model="mail.config.port">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="folderMail">{{'Admin.Avance.Mail.base_directory' | translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control unvalidate" id="folderMail" name="folderMail" ng-model="mail.config.folder">
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-12">
                    <input type="button" ng-click="mail.set()" class="btn btn-success force-display" value="{{'Admin.Avance.Mail.save' | translate}}">
                </div>
            </form>
        </div>
    </div>
</div>