<div class="container about">
    <div class="page-header">
        <h1>{{'Policy' | translate}}</h1>
    </div>

    <h2>
        Informations relatives au règlement européen sur la protection des données personnelles (RGPD)
    </h2>

    <p>
        La création de votre compte utilisateur sur i-Parapheur demande la saisie de données personnelles vous
        concernant. Vous trouverez ci-dessous le détail des informations collectées ainsi que les traitements effectués.
        Ces données sont collectées uniquement dans le cadre de votre activité professionnelle et pour l'utilisation
        exclusive de l'application i-Parapheur.

        <br><br>

        Le fonctionnement dans les conditions nominales et recommandées de l'application, ne permet pas de partager ou
        de diffuser à un tiers vos informations personnelles. Vous pouvez demander à tout moment à l'administrateur de
        la plateforme de vous communiquer l'ensemble des informations collectées pour la création de votre compte.
    </p>

    <h2>
        Collecte
    </h2>

    <p>
        Lors de la création de votre compte utilisateur, les informations suivantes sont collectées :
    </p>

    <ul>
        <li>Nom d'utilisateur</li>
        <li>Adresse de messagerie professionnelle</li>
        <li>Identifiant de connexion</li>
    </ul>

    <h2>
        Traitements
    </h2>


    <p>
        Vos informations personnelles sont utilisées pour le bon fonctionnement de i-Parapheur dans les cas listés
        ci-après :
    </p>
    <p>
        Affichage de vos données personnelles :
    </p>
    <ul>
        <li>liste des utilisateurs : votre identifiant de connexion, votre nom et votre courriel apparaissent dans la liste</li>
        <li>journal d'événement de dossier : votre nom apparaît pour chaque action (visa, signature, rejet, annotation publique) de votre part sur un dossier.</li>
    </ul>

    <h2>
        Droit à l'oubli
    </h2>

    <p>
        Sur votre demande ou à la demande de l’administrateur de i-Parapheur, votre compte utilisateur peut être supprimé
        définitivement.
        <br>
        La suppression de votre compte laissera les traces de votre activité sur les documents circulant dans i-Parapheur, le temps de leur présence. Ces traces disparaîtront avec l'extraction de ces documents hors de i-Parapheur.
    </p>


</div>